html
	header
		style
			include style.css

	body

		p nom = #{info.nom}
		p poids = #{info.poids}
		p taille = #{info.taille}
		p enclos = #{info.enclos}
		p detail = #{info.detail}
		|
		a(class='button' href='/') revenir au menu

